body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NowAlt-Regular';
  src: local('NowAlt-Regular'), url(/wp-content/themes/dpga/font/NowAlt-Regular.woff) format('truetype');
}

@font-face {
  font-family: 'NowAlt-Light';
  src: local('NowAlt-Light'), url(/wp-content/themes/dpga/font/NowAlt-Light.woff) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.quiz {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

.faq {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 0;
  padding-bottom: 60px;
  padding-top: 40px;
  border-radius: 3px;
  background-color: #F4F4F4;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

@media (max-width: 680px) {
  .question {
      height: 127px;
      font-size: 25px;
  }

  #backButton {
    width: 150px;
    margin-right: 15;
  }

  #nextButton {
    width: 150px;
    margin-left: 15;
  }

  .optionContent {
    padding: 1.5rem 2.5rem 1.5rem 3rem;
  }

  .radioCustomButton ~ .optionContent:before {
    left: 5px;
  }
}

@media (min-width: 680px) {
  .question {
      height: 100px;
  }

  #backButton {
    width: 200px;
    margin-right: 30;
  }

  #nextButton {
    width: 200px;
    margin-left: 30;
  }

  .optionContent {
    padding: 1.5rem 2.5rem 1.5rem 5rem;
  }

  .radioCustomButton ~ .optionContent:before {
    left: 38px;
  }
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

#backButton {
  margin-bottom:80; 
  border-radius:0;
  border-color:#4D29BA; 
  background-color: white; 
  color: #4D29BA; 
  font-family:'NowAlt-Light'
}

#nextButton {
  margin-bottom:80; 
  border-radius:0; 
  background-color:#4D29BA; 
  font-family:'NowAlt-Light'
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 1rem;
  font-size: 1.1rem;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

.summary {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 3px;
  background-color: #F4F4F4;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem;
  font-size: 16px;
  line-height: 1.5;
}

.optionContent {
  position: relative;
}

.radioCustomButton ~ .optionContent:before {
  position: absolute;
  top: 20px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .optionContent:before {
  content: '';
  background: #8bc53f url(./svg/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8bc53f;
}


 
