name: Automatic Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Clone publicgoods-website
        run: git clone https://github.com/unicef/publicgoods-website.git ../publicgoods-website
      - name: Clone publicgoods-candidates
        run: git clone https://github.com/unicef/publicgoods-candidates.git ../publicgoods-candidates
      - name: Run static.bash
        run: bash scripts/static.bash
      - name: Generating DPG's
        run: cd packages/automation && npm install && node generate_dpgs.js
      # - name: Generating Nominees
      #   env:
      #       CLIENTID: ${{ secrets.CLIENTID}}
      #       CLIENTSECRET: ${{ secrets.CLIENTSECRET}}
      #   run: cd packages/automation && node generate_nominees.js
      - name: Downloading nominees.json file into packages/registry/src
        run:  curl --location --request GET 'https://api.digitalpublicgoods.net/nominees/' -o packages/registry/src/nominees.json 
      - name: Generating registry page
        run: cd packages/automation && node index.js
      - name: Run npm i at root for needed react-scripts package below
        run: npm install
      - name: Softlink required dependencies
        run:  |
          ln -s ../../../../publicgoods-website/wp-includes/ packages/eligibility/public/wp-includes;
          ln -s ../../../../publicgoods-website/wp-content/ packages/eligibility/public/wp-content;
          ln -s ../../../../publicgoods-website/wp-includes/ packages/registry/public/wp-includes;
          ln -s ../../../../publicgoods-website/wp-content/ packages/registry/public/wp-content;
      - name: Build packages/eligibility
        run: cd packages/eligibility && npm install && npm run build
      - name: Build packages/registry
        run: cd packages/registry && npm install && npm run build
      - name: Build packages/map
        run: cd packages/map && npm install && npm run build
      - name: Run moveFiles.bash
        run: bash scripts/moveFiles.bash
      
